/* las clases que existen hasta ahora son: container, main-header, nav1, nav2, izquierda, derecha, regis (para registro y login) */

/* creo que es muy buena practica ir poniendo comentarios de los cambios */

*{
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  }

body{
  background-color: black;
  }

  .top-right{
  background-color: black;
  padding: 0.5%;
  }

  .container{
  color: white;
  }

  .register-bg{
  }

  .black-square{
    background-color: #00000078;
    max-width: max-content;
    max-height: max-content;
    border-color: white;
    text-align: center;
  }

  .reglasSquare{
    background-color: #000000d4;
    border-color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 5%;
    }

  .reglasTittle{
    background-size: cover;
    width: 100%;
    background-color: black;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 0.1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    padding: 2%;
    margin-top: 3%;
  }


  .reglasText{
    background-color: black;
    color: white;
    /* border-top-color: white;
    border-bottom-color: white; */
    margin-top: 5%;
    background-size: cover;
    font-size: 1em;
    /* border-top-style: solid;
    border-bottom-style: solid; */
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: justify;
    font-size: medium;
    /* border-top-width: 0.1px;
    border-bottom-width: 0.1px; */
  }

  .reglasLine{
    border-top-color: white;
    border-top-style: groove;
    border-top-width: 0.1px;
  }

  .card-header{
    color: white;
    border-color: white;
  }

  .placeholder-border{
    color: white;
    border-color: black;
  }

  .placeholder{
    color: #fbfdfb;
    background-color: #040404eb;
    border: 1px solid white;
    border-radius: 0.7rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .nav-link{
  color: white;
  }

  .navbar-brand{
  color: white;
  }

  .button-register{
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 0.7rem;
  }
  

  .buttonPlay{
    width: 20%;
    color: white;
    background-color: black;
    border: 2px solid white;
    padding: 5%;
    border-radius: 0.7rem;
  }

  .margin-buttonPlay{
    margin-top: 35%;
  }

  .buttonAnswers{
    width: 50%;
    color: white;
    background-color: black;
    border: 2px solid white;
    padding: 1%;
    border-radius: 0.7rem;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: 1.5%;
  }

  .card-home{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
  }

  .card-body-home{
    flex: 1 1 auto;
    padding: 1.25rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .login-bg{
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #0000004a;
    border-color: #2176bd;
  }

  .checkbox-button {
    margin: 0 auto;
    text-align: center;
    color: white;
  }

  .forget-pass{
    color: white;
  }

  .button-reset{
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 0.7rem;
  }


  .form-reset{
  }


  .burguer{
  }


  .resetPass-bg{
  background-image: url("/img/bg-horizontal.gif");
  /* background-image: url("/img/man.jpg");*/
   background-size: cover;
   background-repeat: no-repeat;
   /* height: 100vh;
   width: 100vw; */
   background-position: center center;
   }

   .bg-nav{
    background-color: black;
    
    /* margin-top: 3%;
    margin-bottom: 1%; */
   }

  .bg-question{
    background-color: black;
    color: white;
    width: 100vw;
    border-top-color: white;
    border-bottom-color: white;
    margin-top: 1%;
    background-size: cover;
    font-size: medium;
    text-transform: uppercase;
    padding: 0.5%;
    margin-bottom: 1%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-style: groove;
  }


  .playSquare{
    background-color: #00000078;
    border-color: white;
    text-align: center;
    /* max-height: content;
    max-width: 100%;
    max-height: 100%; */
    /* padding: 3.5%; */
    }

    #gif{
      width:100%;
    }

  .img-play{
    width: 100%;
    padding:2px;
    border:8px solid black;
    background-color: #e6e6e6;
    border-radius: 0.7rem;
   
  }

  .resultadoJuego{
    font-size: 4rem;
    color: white;
  }

  #record{
    font-size: large;
    color: white;
  }

  .resultado{
    color: white;
  }
